.btn{
	top: 40%;
	display: inline-block;
}

.contaner{
	/* display: inline-block; */
	margin: auto;
	top: 40%;
	left: 40%;
}

.rt{
	display:flex;
	top: 400px;	
}

/* .rd{ */
	/* display: block; */
/* } */